.git/
.mypy_cache/
.vscode/
old/
build/
*.egg-info/
dist/
docs/conf.txt
src/*/__pycache__
test/__pycache__
test/.mypy_cache/
test/docs
test/examples
test/cleandoc_log.txt
cleandoc_log.txt
pyprojectlib_log.txt
.users/